*.sublime-workspace
*.egg-info
*.sw[op]
*.pyc
*.orig
CmdTool.log
MegaSAS.log
.batou.buildout.success
.DS_Store
.svn
*~

/.Python
/.installed.cfg
/.mr.developer.cfg
/develop-eggs/
/include/
/work/
/lib/
/lib64
/bin/
/eggs/
/parts/
/share/
/tags
/local
